<li>
  <p>
    <%= comment.image.user.name %>: <%= comment.description %>
  </p>

  <p>
    <%= link_to 'Destroy Comment', [comment.image, comment], method: :delete, class: "comment-delete", remote: true %>
  </p>
</li>